.paymentAndDelivery__container{

  font: 1.3rem/2rem "Roboto-Regular";
  padding: 10px;
  p{
    margin-bottom: 10px;
    text-indent: 20px;
    image{
      height: 89px;
      max-width: 95%;
    }
    .paymentAndDelivery__container_img{
      height: 89px;
      max-width: 95%;
    }

  }
}